CMakeFiles/*
CMakeCache.txt
.settings
obj
lib
loader
Makefile
cmake_install.cmake


# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/.vs/astlib/v14
/Debug
/loader.dir/Debug
/x64/Debug/ZERO_CHECK
/ZERO_CHECK.vcxproj.filters
/ZERO_CHECK.vcxproj
/loader.vcxproj.filters
/loader.vcxproj
/astlib.VC.VC.opendb
/astlib.VC.db
/astlib.sln
/ALL_BUILD.vcxproj.filters
/ALL_BUILD.vcxproj
/CTestTestfile.cmake
/testunit.dir/Debug/testunit.tlog
/testunit.dir/Debug
/x64/Debug/ALL_BUILD
/testunit.vcxproj.filters
/testunit.vcxproj
/RUN_TESTS.vcxproj.filters
/RUN_TESTS.vcxproj
/ast2json.dir/Debug/ast2json.tlog
/binary2asterix.dir/Debug/binary2asterix.tlog
*.pdb
*.log
*.vcxproj
*.filters
/binary2asterix.dir/Debug
/ast2json.dir/Debug
/node_modules/
/build
/Win32/Debug/ZERO_CHECK/ZERO_CHECK.tlog
/x64/Debug
/bin/
/install_manifest.txt
/astlib/AsterixItemDictionary.js
